<%# test whether @users is accessible %>
<% @users = User.all %>
<% @ratings = Rating.all %>

<%#= @users.first.name %>
<%#= @users.find_by(id: 1).name %>

<%# TO START, just do this for user 1.  Then, figure out how to pass an id %>
<% user_id = 1 %> <%# todo: make dynamic %>
<% worker_to_graph=User.find(1) %>

<%# pull the data out.  show top 5 good attributes and 1 bad attribute %>
<%= graph_data(user_id) %> <%# call function which crunches data and sets @good_attributes %>
<%= print "@good_attributes[1] in _coworker_chart: " %>
<%= print @good_attributes[1] %>

  <!--Load the AJAX API-->
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>

  <script type="text/javascript">
    // Load the Visualization API and the piechart package.
    google.load('visualization', '1.0', {'packages':['corechart']});

    // Set a callback to run when the Google Visualization API is loaded.
    google.setOnLoadCallback(drawChart);
    // Callback that creates and populates a data table,
    // instantiates the pie chart, passes in the data and
    // draws it.
    function drawChart() {
      //* document.write(" bugaboo3 ");
      // Create the data table.
      //* var data = new google.visualization.arrayToDataTable(@good_attributes);
      var data = new google.visualization.DataTable();
      data.addColumn('string', 'Aspect');
      data.addColumn('number', 'Rating');
      data.addRows([
        ['greatness', 1.2],
        ['awesomeness', 5.5],

      ]);
      //* data.addColumn('string', 'Attribute');
      //* data.addColumn('number', 'Rating');

      // data.addRows([

      //   ['Technical Guru', 7.2],
      //   ['walks the walk', 5.5],

      //   good_attributes.each do

      
      //* document.write("<b>data for chart: </b>");
      //* document.write(data);
      

      // Set chart options  <%# some I can't get to work %>
      var options = {'title':worker_to_graph.name,
                     width:450,
                     height:180,
                     vAxis: { textStyle:{fontSize:15}},
                     legend: { position:'none' },
					 titleTextStyle:{fontSize:20},
					 

					 hAxis: { ticks: [6,7] },
                     hAxis: { minValue: 0 }, 

                     hAxis: { titleTextStyle:{fontSize:25}}

                     };

      // Instantiate and draw our chart, passing in some options.
      var chart = new google.visualization.BarChart(document.getElementById('chart_div'));
      chart.draw(data, options);
    } //end drawChart() function
    //document.write(" bugaboo 4")
  </script>

  <div id="chart_div"></div>




