<!doctype html>

<html>
  
  <head>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %> <%# not sure whether I need this or what it does %>

  </head>
  
  <body>

   
    <br>
    <div class="container">
      <div class="row">
        <%= render "users/signed_in_sidebar" %>  
        
        <div class="col-md-7">

          <div class="well well-sm">
            <%#= render "users/chart1" %>  <%# call for graph ######## %>
            <%#= render "users/chart2" %>  <%# call for graph ######## %>
            <h4>Factory cost reduction</h4>
            <div class="row">
              <div class="col-md-5" align="right">
                <p>Strategy</p>
                <p>Execution</p>
              </div>
              <div class="col-md-6">
                <div class="progress">
                  <div class="progress-bar" style="width: 50%;"></div>
                </div>
                <div class="progress">
                  <div class="progress-bar" style="width: 40%;"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="well well-sm">
            <h4>Competitor acquisition</h4>
            <div class="row">
              <div class="col-md-5" align="right">
                <p>Strategy</p>
                <p>Execution</p>
              </div>
              <div class="col-md-6">
                <div class="progress">
                  <div class="progress-bar" style="width: 80%;"></div>
                </div>
                <div class="progress">
                  <div class="progress-bar" style="width: 20%;"></div>
                </div>
              </div>
            </div>
          </div>


          <%# insert graphs for all coworker_chart for all users %>
          <%#= will_paginate %> <%# put this before or after render? %>
          
          <!-- <ul class="coworker_charts">  -->
            <%#= render @users %>

                    <%#= will_paginate %>
          <% users_to_graph() %> <%# call a function in users_helper that sets a list of user_id's to show ratings graphs for on the homepage %>
          <% @show_user_id.each do |user_id| %>                  
            <div class="well well-sm">
              <% user = User.find_by(id: user_id) %>  
              <p><b><%= user.name + " | " + user.email %> </b></p>
                <% graph_data(user_id) %>  <%# get the top 5 attributes for this user and set them in @good_attributes %>
                <%= bar_chart @show_attributes, :height => "200px"%> <%# call chartkick %>
            </div>
          <% end %>


          
        </div>
      </div>
      <hr>

    </div>
    <!-- /container -->
  </body>




</html>