<%# this one is users/home.html.erb.  Got rid of static_pages/home %>

<% if signed_in? %>
  <%=render 'users/homepage' %>
<% else %>
  <div>
    <%= render 'static_pages/landing' %>
  </div>
<% end %>