<% provide(:title, 'All users') %>
<h1>All users</h1>

<%= will_paginate %> 

<ul class="users"> <%# tells it to use the .users in custom.css.scss%>
	<%= render @users %><%# renders _user.html.erb and passes the user%>
</ul>

<%= will_paginate %> 