<!-- 
<footer class="footer">
  <small>
    <a href="http:www.BumptUp.com">BumptUp</a>
  </small>
  <nav>
    <ul>
      <li><%#= link_to "About",   about_path %></li>
      <li><%#= link_to "Contact", contact_path %></li>

    </ul>
  </nav>
</footer> -->

<div class="footer-wrapper"> <!-- footer wrapper -->
  <hr>
<div class="container">
  <footer>
    <ul class="list-inline pull-left">
    <li><a href="about-us.html">About Us</a></li>
    <li><a href="#">Privacy Policy</a></li>
    <li><a href="#">Terms and Conditions</a></li>
    <li><a href="contact-us.html">Contact Us</a></li>
    </ul>
    <span class="pull-right-xs text-muted">&copy; BumptUp</span>
  <div class="clearfix"></div>
  </footer>
</div> <!-- /container -->
</div> <!-- / footer wrapper -->